.main-image {
  width: 100%;
  max-height: 320px;
  border-radius: 14px;
  object-fit: contain;
  background: #f3f3ff;
  padding: 6px;
  margin-bottom: 14px;
}


.field-row {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.field-box {
  width: 50%;
  background: #f8f8ff;
  border: 1px solid #d6d9ff;
  border-radius: 12px;
  padding: 10px;
}

.icon-image {
  width: 100%;
  height: 95px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 6px;
}
